.elementor-1452 .elementor-element.elementor-element-7b5f4c89 > .elementor-container{max-width:800px;}.elementor-1452 .elementor-element.elementor-element-7b5f4c89{padding:0em 0em 0em 0em;}.elementor-1452 .elementor-element.elementor-element-291c0a1e.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}body.rtl .elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-labels-inline .elementor-field-group > label{padding-left:15px;}body:not(.rtl) .elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-labels-inline .elementor-field-group > label{padding-right:15px;}body .elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-labels-above .elementor-field-group > label{padding-bottom:15px;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group > label, .elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-subgroup label{color:#4E4A49;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group > label{font-family:"Roboto Slab", Roboto Slab;font-size:1.7em;font-weight:600;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group .elementor-field, .elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-subgroup label{font-family:"Roboto Slab", Roboto Slab;font-size:1.2em;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field .elementor-field-textual{background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5b8faf2 .pafe-signature canvas{border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-5b8faf2{display:block;}body.rtl .elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-labels-inline .elementor-field-group > label{padding-left:15px;}body:not(.rtl) .elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-labels-inline .elementor-field-group > label{padding-right:15px;}body .elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-labels-above .elementor-field-group > label{padding-bottom:15px;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group > label, .elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-subgroup label{color:#4E4A49;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group > label{font-family:"Roboto Slab", Roboto Slab;font-size:1.7em;font-weight:600;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group .elementor-field, .elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-subgroup label{font-family:"Roboto Slab", Roboto Slab;font-size:1.2em;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field .elementor-field-textual{background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-fbead95 .pafe-signature canvas{border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-fbead95{display:block;}body.rtl .elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-labels-inline .elementor-field-group > label{padding-left:15px;}body:not(.rtl) .elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-labels-inline .elementor-field-group > label{padding-right:15px;}body .elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-labels-above .elementor-field-group > label{padding-bottom:15px;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group > label, .elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-subgroup label{color:#4E4A49;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group > label{font-family:"Roboto Slab", Roboto Slab;font-size:1.7em;font-weight:600;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group .elementor-field, .elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-subgroup label{font-family:"Roboto Slab", Roboto Slab;font-size:1.2em;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field .elementor-field-textual{background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group .elementor-field:not(.elementor-select-wrapper){max-width:100%!important;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group .elementor-field .elementor-field-textual{max-width:100%!important;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-c50ec75 .pafe-signature canvas{border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-c50ec75{display:block;width:73%;max-width:73%;}body.rtl .elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-labels-inline .elementor-field-group > label{padding-left:15px;}body:not(.rtl) .elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-labels-inline .elementor-field-group > label{padding-right:15px;}body .elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-labels-above .elementor-field-group > label{padding-bottom:15px;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group > label, .elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-subgroup label{color:#4E4A49;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group > label{font-family:"Roboto Slab", Roboto Slab;font-size:1.7em;font-weight:600;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group .elementor-field, .elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-subgroup label{font-family:"Roboto Slab", Roboto Slab;font-size:1.2em;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field .elementor-field-textual{background-color:#ffffff;padding:1em 1em 1em 1em;border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group .elementor-field:not(.elementor-select-wrapper){max-width:100%!important;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group .elementor-field .elementor-field-textual{max-width:100%!important;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper)::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper):-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-webkit-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual::-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-ms-input-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field.elementor-field-textual:-moz-placeholder{color:#9C9C9C;opacity:1;}.elementor-1452 .elementor-element.elementor-element-5136d8b .pafe-signature canvas{border-style:solid;border-width:2px 2px 2px 2px;border-color:#6EC1E4;border-radius:10px 10px 10px 10px;}.elementor-1452 .elementor-element.elementor-element-5136d8b{display:block;width:25%;max-width:25%;}@media(max-width:1024px){.elementor-1452 .elementor-element.elementor-element-5b8faf2{display:block;}.elementor-1452 .elementor-element.elementor-element-fbead95{display:block;}.elementor-1452 .elementor-element.elementor-element-c50ec75{display:block;}.elementor-1452 .elementor-element.elementor-element-5136d8b{display:block;}}@media(max-width:767px){.elementor-1452 .elementor-element.elementor-element-291c0a1e > .elementor-element-populated{padding:1em 2em 1em 2em;}.elementor-1452 .elementor-element.elementor-element-5b8faf2{display:block;}.elementor-1452 .elementor-element.elementor-element-fbead95{display:block;}.elementor-1452 .elementor-element.elementor-element-c50ec75{display:block;width:100%;max-width:100%;}.elementor-1452 .elementor-element.elementor-element-5136d8b > .elementor-widget-container{margin:7% 0% 0% 0%;}.elementor-1452 .elementor-element.elementor-element-5136d8b{display:block;width:100%;max-width:100%;}}/* Start custom CSS for pafe-form-builder-field, class: .elementor-element-5b8faf2 *//* COMMON RADIO AND CHECKBOX STYLES  */

.elementor-1452 .elementor-element.elementor-element-5b8faf2 input[type=radio],
.elementor-1452 .elementor-element.elementor-element-5b8faf2 input[type=checkbox]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

.elementor-1452 .elementor-element.elementor-element-5b8faf2 input[type=radio] + label:before{
  font-size: 1.2em;
  height:0.6em;
  margin-right: 4px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  transition: 0.3s;
  border:1px solid #ccc;
  border-radius:10px;
  box-shadow: inset 0 -3px 6px #e4e4e4;
  transition: 0.3s;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
/* DEFAULT */
.elementor-1452 .elementor-element.elementor-element-5b8faf2 input[type=radio] + label:before{
  border-radius:50%;
  width: 0.6em;
    box-shadow: inset 0 -3px 2px white, inset 0 0 1px #222, inset 0 0 0 3px white;
  border: 1px solid #4E4A70;
}

/* CHECKED */
.elementor-1452 .elementor-element.elementor-element-5b8faf2 input[type=radio]:checked + label:before{

  background-color: #6EC1E4
}



.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-option:nth-child(1) {
}

/* select every option except the last */
.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-option {
    padding: 1em 0em;
        border-bottom: 1px solid #4E4A70

}

.elementor-1452 .elementor-element.elementor-element-5b8faf2 .elementor-field-option:last-child {
    border-bottom: none;
    
}

/* make form full width */
.elementor-1452 .elementor-element.elementor-element-5b8faf2 form {
    width: 100%
}/* End custom CSS */
/* Start custom CSS for pafe-form-builder-field, class: .elementor-element-fbead95 *//* COMMON RADIO AND CHECKBOX STYLES  */

.elementor-1452 .elementor-element.elementor-element-fbead95 input[type=radio],
.elementor-1452 .elementor-element.elementor-element-fbead95 input[type=checkbox]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

.elementor-1452 .elementor-element.elementor-element-fbead95 input[type=radio] + label:before{
  font-size: 1.2em;
  height:0.6em;
  margin-right: 4px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  transition: 0.3s;
  border:1px solid #ccc;
  border-radius:10px;
  box-shadow: inset 0 -3px 6px #e4e4e4;
  transition: 0.3s;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
/* DEFAULT */
.elementor-1452 .elementor-element.elementor-element-fbead95 input[type=radio] + label:before{
  border-radius:50%;
  width: 0.6em;
    box-shadow: inset 0 -3px 2px white, inset 0 0 1px #222, inset 0 0 0 3px white;
  border: 1px solid #4E4A70;
}

/* CHECKED */
.elementor-1452 .elementor-element.elementor-element-fbead95 input[type=radio]:checked + label:before{

  background-color: #6EC1E4
}



.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-option:nth-child(1) {
}

/* select every option except the last */
.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-option {
    padding: 1em 0em;
        border-bottom: 1px solid #4E4A70

}

.elementor-1452 .elementor-element.elementor-element-fbead95 .elementor-field-option:last-child {
    border-bottom: none;
    
}

/* make form full width */
.elementor-1452 .elementor-element.elementor-element-fbead95 form {
    width: 100%
}/* End custom CSS */
/* Start custom CSS for pafe-form-builder-field, class: .elementor-element-c50ec75 *//* COMMON RADIO AND CHECKBOX STYLES  */

.elementor-1452 .elementor-element.elementor-element-c50ec75 input[type=radio],
.elementor-1452 .elementor-element.elementor-element-c50ec75 input[type=checkbox]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

.elementor-1452 .elementor-element.elementor-element-c50ec75 input[type=radio] + label:before{
  font-size: 1.2em;
  height:0.6em;
  margin-right: 4px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  transition: 0.3s;
  border:1px solid #ccc;
  border-radius:10px;
  box-shadow: inset 0 -3px 6px #e4e4e4;
  transition: 0.3s;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
/* DEFAULT */
.elementor-1452 .elementor-element.elementor-element-c50ec75 input[type=radio] + label:before{
  border-radius:50%;
  width: 0.6em;
    box-shadow: inset 0 -3px 2px white, inset 0 0 1px #222, inset 0 0 0 3px white;
  border: 1px solid #4E4A70;
}

/* CHECKED */
.elementor-1452 .elementor-element.elementor-element-c50ec75 input[type=radio]:checked + label:before{

  background-color: #6EC1E4
}



.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-option:nth-child(1) {
}

/* select every option except the last */
.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-option {
    padding: 1em 0em;
        border-bottom: 1px solid #4E4A70

}

.elementor-1452 .elementor-element.elementor-element-c50ec75 .elementor-field-option:last-child {
    border-bottom: none;
    
}

/* make form full width */
.elementor-1452 .elementor-element.elementor-element-c50ec75 form {
    width: 100%
}/* End custom CSS */
/* Start custom CSS for pafe-form-builder-field, class: .elementor-element-5136d8b *//* COMMON RADIO AND CHECKBOX STYLES  */

.elementor-1452 .elementor-element.elementor-element-5136d8b input[type=radio],
.elementor-1452 .elementor-element.elementor-element-5136d8b input[type=checkbox]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

.elementor-1452 .elementor-element.elementor-element-5136d8b input[type=radio] + label:before{
  font-size: 1.2em;
  height:0.6em;
  margin-right: 4px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  transition: 0.3s;
  border:1px solid #ccc;
  border-radius:10px;
  box-shadow: inset 0 -3px 6px #e4e4e4;
  transition: 0.3s;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
/* DEFAULT */
.elementor-1452 .elementor-element.elementor-element-5136d8b input[type=radio] + label:before{
  border-radius:50%;
  width: 0.6em;
    box-shadow: inset 0 -3px 2px white, inset 0 0 1px #222, inset 0 0 0 3px white;
  border: 1px solid #4E4A70;
}

/* CHECKED */
.elementor-1452 .elementor-element.elementor-element-5136d8b input[type=radio]:checked + label:before{

  background-color: #6EC1E4
}



.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-option:nth-child(1) {
}

/* select every option except the last */
.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-option {
    padding: 1em 0em;
        border-bottom: 1px solid #4E4A70

}

.elementor-1452 .elementor-element.elementor-element-5136d8b .elementor-field-option:last-child {
    border-bottom: none;
    
}

/* make form full width */
.elementor-1452 .elementor-element.elementor-element-5136d8b form {
    width: 100%
}/* End custom CSS */