.elementor-1741 .elementor-element.elementor-element-7ca36e2 > .elementor-container{max-width:1200px;}.elementor-1741 .elementor-element.elementor-element-7ca36e2{margin-top:3%;margin-bottom:0%;}.elementor-1741 .elementor-element.elementor-element-a87f892 .elementor-heading-title{color:#4E4A49;font-family:"Roboto Slab", Roboto Slab;font-size:2em;}.elementor-1741 .elementor-element.elementor-element-a87f892{display:block;}.elementor-1741 .elementor-element.elementor-element-b5cb848{color:#4E4A49;font-family:"Roboto Slab", Roboto Slab;font-size:1.1em;display:block;}.elementor-1741 .elementor-element.elementor-element-2bb1e4a > .elementor-container{max-width:1200px;}.elementor-1741 .elementor-element.elementor-element-e51624d ul.thumbnails.image_picker_selector li{width:25% !important;padding:10px !important;}.elementor-1741 .elementor-element.elementor-element-e51624d ul.thumbnails.image_picker_selector{margin:-10px -10px -10px -10px;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group{padding-right:calc( 30px/2 );padding-left:calc( 30px/2 );margin-bottom:20px;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-form-fields-wrapper{margin-left:calc( -30px/2 );margin-right:calc( -30px/2 );margin-bottom:-20px;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group.recaptcha_v3-bottomleft, .elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-1741 .elementor-element.elementor-element-e51624d .elementor-labels-inline .elementor-field-group > label{padding-left:10px;}body:not(.rtl) .elementor-1741 .elementor-element.elementor-element-e51624d .elementor-labels-inline .elementor-field-group > label{padding-right:10px;}body .elementor-1741 .elementor-element.elementor-element-e51624d .elementor-labels-above .elementor-field-group > label{padding-bottom:10px;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group > label, .elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-subgroup label{color:#4E4A49;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group > label{font-family:"Roboto Slab", Roboto Slab;font-size:1.4em;font-weight:700;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-type-html{padding-bottom:0px;color:#000000;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group .elementor-field{color:#4E4A49;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group .elementor-field, .elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-subgroup label{font-family:"Roboto Slab", Roboto Slab;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:#6EC1E4;border-width:3px 3px 3px 3px;border-radius:10px 10px 10px 10px;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:#6EC1E4;border-width:3px 3px 3px 3px;border-radius:10px 10px 10px 10px;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-group .elementor-select-wrapper::before{color:#6EC1E4;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-button{background-color:#61CE70;color:#FFFFFF;font-family:"Roboto Slab", Roboto Slab;font-size:2em;border-radius:10px 10px 10px 10px;padding:3% 3% 3% 3%;}.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-button svg{fill:#FFFFFF;}.elementor-1741 .elementor-element.elementor-element-e51624d{display:block;}.elementor-1741 .elementor-element.elementor-element-df3e339{display:block;}body.elementor-page-1741 h1.entry-title, .elementor-page-title{display:none;}@media(min-width:768px){.elementor-1741 .elementor-element.elementor-element-a3b3295{width:65.417%;}.elementor-1741 .elementor-element.elementor-element-bb92066{width:34.252%;}}@media(max-width:1024px){.elementor-1741 .elementor-element.elementor-element-a87f892{display:block;}.elementor-1741 .elementor-element.elementor-element-b5cb848{display:block;}.elementor-1741 .elementor-element.elementor-element-e51624d{display:block;}.elementor-1741 .elementor-element.elementor-element-df3e339{display:block;}}@media(max-width:767px){.elementor-1741 .elementor-element.elementor-element-a87f892{display:block;}.elementor-1741 .elementor-element.elementor-element-b5cb848{display:block;}.elementor-1741 .elementor-element.elementor-element-e51624d{display:block;}.elementor-1741 .elementor-element.elementor-element-df3e339{display:block;}}/* Start custom CSS for form, class: .elementor-element-e51624d *//* COMMON RADIO AND CHECKBOX STYLES  */

.elementor-1741 .elementor-element.elementor-element-e51624d input[type=radio],
.elementor-1741 .elementor-element.elementor-element-e51624d input[type=checkbox]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

.elementor-1741 .elementor-element.elementor-element-e51624d input[type=radio] + label:before{
  font-size: 2em;
  height:0.6em;
  margin-right: 4px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  transition: 0.3s;
  border:1px solid #ccc;
  border-radius:10px;
  box-shadow: inset 0 -3px 6px #e4e4e4;
  transition: 0.3s;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
/* DEFAULT */
.elementor-1741 .elementor-element.elementor-element-e51624d input[type=radio] + label:before{
  border-radius:50%;
  width: 0.6em;
    box-shadow: inset 0 -3px 2px white, inset 0 0 1px #222, inset 0 0 0 3px white;
  border: 1px solid #4E4A70;
}

/* CHECKED */
.elementor-1741 .elementor-element.elementor-element-e51624d input[type=radio]:checked + label:before{

  background-color: #6EC1E4
}



.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-option:nth-child(1) {
}

/* select every option except the last */
.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-option {
    padding: 1em 0em;
        border-bottom: 1px solid #4E4A70

}

.elementor-1741 .elementor-element.elementor-element-e51624d .elementor-field-option:last-child {
    border-bottom: none;
    
}

/* make form full width */
.elementor-1741 .elementor-element.elementor-element-e51624d form {
    width: 100%
}

label[for="form-field-field_a55b98e-0"]:after
{
	font-family: FontAwesome;
	content: "\f005\f005\f005\f005\f005";
	color: #FF9A00 !important;
	font-size: 2em;
}

label[for="form-field-field_a55b98e-1"]:after
{
	font-family: FontAwesome;
	content: "\f005\f005\f005\f005";
	color: #FF9A00 !important;
	font-size: 2em;
}

label[for="form-field-field_a55b98e-2"]:after
{
	font-family: FontAwesome;
	content: "\f005\f005\f005";
	color: #FF9A00 !important;
	font-size: 2em;
}

label[for="form-field-field_a55b98e-3"]:after
{
	font-family: FontAwesome;
	content: "\f005\f005";
	color: #FF9A00 !important;
	font-size: 2em;
}

label[for="form-field-field_a55b98e-4"]:after
{
	font-family: FontAwesome;
	content: "\f005";
	color: #FF9A00 !important;
	font-size: 2em;
}

label[for="form-field-field_a55b98e-0"], label[for="form-field-field_a55b98e-1"], label[for="form-field-field_a55b98e-2"], label[for="form-field-field_a55b98e-3"], label[for="form-field-field_a55b98e-4"]
{
	color: white !important;
}/* End custom CSS */